@import url('https://fonts.googleapis.com/css?family=Play&display=swap');
.cards {
  overflow-y: scroll;
}
.card-item {
  overflow-x:hidden;
  position: relative;
  box-shadow: 0px 50px 120px black;
  margin-top: 20px;
  margin-left: 100px;
  background-color: white;
  margin-bottom: 30px;
  float: left;
  width: 284px;
  height: 430px;
}
.item-name {  
  margin-left: 4px;
  font-size: 30px;
  margin-top: 4px;
  margin-bottom: 4px;
}
.item-descriprion {
  font-size: 15px;
  opacity: 0.8;
  margin-left: 4px;
  float: left;
  font-family: 'Play', sans-serif;
}
.state {
  position: relative;
  left: 30px;
}
.item-price {
  float: right;
  color: #43c243;
  font-family: 'play', sans-serif;
  position: absolute;
  font-size: 35px;
  margin-bottom: 0px;
  bottom: 10px;
  right: 10px;
}
.item-img {
  margin-top: 5px;
  margin-left: 4px;
  margin-bottom: -5px;
  width: 273.2px; 
  height: 204.8px;
}
