@import "header.css" screen;
@import "wrapper.css" screen;
@import "item.css" screen;
@import url('https://fonts.googleapis.com/css?family=Numans&display=swap');
body {
  scroll-behavior: smooth;
  margin: 0;
  background-image: url(../img/blackBG.png );
  background-size: 1000px;
}
.one-block {
  background-image: url(../img/blackBG.png );
  background-size: 1000px;
  box-shadow: 0 0 1000px black;
}
.two-block {
  background-image: url(../img/flowerBG.jpg);
  background-size:100%;
}
.block {
  margin-top: 0px;
  margin-left: 200px;
  margin-right: 200px;
  background-color: #fff;
}
h1 {
  font-family: 'Numans', sans-serif;
}
.content {
  z-index: 10;
}
.map-name-block {
  margin-top: 40px;
  background-color: white;
  height: 100px;
  margin-top:-50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer {
  background-color: #242424;
  height: 100px;
}
.mainMap {
  margin-bottom: 0px;
}
.btn {
  border: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 120px;
  height: 40px;
  font-size: 15px;
  outline: none;
  text-decoration: none;
}
.footerPhone {
  position: relative;
  margin-top: 5vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif  ;
  margin-bottom: 5px;
  margin-left: 20px;
  color: #fff;
  float: left;
}
.adminBox {
  background-color: #272727;
  margin-top: 30px;
  float: right;
  width: 40px;
  height: 40px;
}
.error {
  color: #be0303;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center; 
}
.flex-block {
  width: 300px;
  height: 100px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
background-color: white;
}
.admin-login {
  position: relative;
  top: 200px;
  display: flex;
  justify-content: center;
}
.password {
  margin: 0;
  height: 35px;
}
#block-for-slider {
    width: 600px;
    float: right;
    
}
#viewport {
  border-radius:30px 0 0 0px;
  width: 100%;
  height: 600px;
  top: -5vh;
  position: relative;
  overflow: hidden;
  box-shadow: 1px 1px 100px black;
}
#slidewrapper {
  position: relative;
  width: calc(100% * 100);
  transition: 1s;
  transition-timing-function: cubic-bezier(.67,.01,.23,1);
}
#slidewrapper, #slidewrapper ul, #slidewrapper li {
  margin: 0;
  padding: 0;
  height: 600px;
}
.slide {
  width: 600px;
  list-style: none;
  float: left;
}
#prev-btn, #next-btn {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  top: calc(50% - 25px);
}
#prev-btn:hover, #next-btn:hover {
  cursor: pointer;
}
#prev-btn {
  left: 20px;
}
#next-btn {
  right: 20px;
}
#nav-btns {
  position: relative    ;
  width: 100%;
  bottom: 20px;
  padding: 0;
  margin: 0;
  text-align: center;
}
.slide-nav-btn {
  position: relative;
  display: inline-block;
  list-style: none;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  margin: 3px;
}
.slide-nav-btn:hover {
  cursor: pointer;
}
.card-item {
  font-family: 'Numans', sans-serif;
}

.slider {
  position: absolute;
}