
.whatSelling {
  margin: 20px;
  position: relative;
  text-align: center;
}
.white {
  color: white;
  transition: color 2s ease-in-out;
}
.black {
  color: black;
  transition: color 2s ease-in-out;
}
.state {
  width: 80%;
  margin-left: 8%;
  text-align: center;
  margin-bottom: 20px;
}
.itemBtn-news {
  color: white;
  background-color: #295596;
}
.itemBtn-news:hover {
  background-color:#4078c9;
}
.itemBtn-news:active {
  background-color: #ffffff;
}
.itemBtn-popular {
  background-color: #c91c1c;
  color: white;
}
.itemBtn-popular:hover {
  background-color: #ca4b4b;
}
.itemBtn-popular:active {
  background-color: #ffffff;
}
.itemBtn-premium {
  color: white;
  background-color: #6e0b69;
}
.itemBtn-premium:hover {
  background-color: #c23ebb;
}
.itemBtn-premium:active {
  background-color: #ffffff;
}
  